body{
    background-color:rgb(235,235,235);
}

.loginform{
    background-color:rgb(250,250,250);
    padding:10px;
    border-radius:10px 10px 10px 10px;
}
.loginform div{
    margin-top:10px;

}
    
.loginform button{

    margin-top:5px;
}    

.container-style1{
    margin:auto auto;
    margin-top:30px;
}
.right-side-pane{

}
